.brochure {
    position: relative;
    background: #fff;
    overflow-x: hidden;
    width: 100%;

    &__body {
        position: relative;
        width: 100%;
        overflow-x: visible;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        width: max-content;
    }

    &__content {
        margin-right: 70px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-weight: 200;
        font-size: 400px;
        line-height: 100%;
        text-align: center;
        color: #101D2A;
        opacity: 0.1;
        margin-left: -735px;
        margin-bottom: 32px;
    }

    &__p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #101D2A;
        max-width: 558px;
    }

    &__img {
        // margin-left: -450px;
        position: relative;
        z-index: 2;
        isolation: isolate;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 200px;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: #fff;
        }

        img {
            height: 100vh;
        }
    }

    &__form {
        position: relative;
        z-index: 3;

        &-title {
            font-weight: 600;
            font-size: 60px;
            line-height: 100%;
            text-transform: capitalize;
            color: #2B3845;
            margin-bottom: 30px;
        }

        &-p {
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            color: #2D2D2D;
            opacity: 0.4;
            margin-bottom: 44px;
            display: none;
        }

        &-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 40px;
            @include media(1200){
                margin-bottom: 20px;
            }

            &-label {
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
                color: #111111;
                margin-bottom: 8px;
            }

            &-input {
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                color: #2D2D2D;
                padding-bottom: 2px;
                background: transparent;
                border: none;
                border-bottom: 1px solid #2D2D2D;
                width: 100%;
                @include media(1200){
                    padding: 8px 14px;
                    border: 1px solid #2D2D2D;
                }
            }
        }

        &-tag {
            margin-bottom: 40px;
            display: flex;
            gap: 15px 40px;

            @include media(1200) {
                align-items: center;
                justify-content: center;
            }

            &-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #1D1D1D;
                opacity: 0.4;
                position: relative;

                &::before {
                    content: '';
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #111111;
                    opacity: 0.4;
                    margin-right: 10px;

                }
            }
        }

        &-content {
            padding: 30px;
            background: #F0F0F0;
            border-radius: 20px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 425px;
            width: 100%;
        }

        &-btn{
            width: 100%;
            max-width: 100%;
        }
    }


    &__sm {
        display: none;
        overflow-x: hidden;
        padding-top: 76px;
        font-family: 'Montserrat';
        line-height: 0;
        background: #fff;

        &-title {
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            text-transform: uppercase;
            color: #2B3845;
            margin-bottom: 25px;
        }

        .brochure__form-tag-item {

            color: #2b3845;
            opacity: 1;
            justify-content: center;

            &::before {
                opacity: 1;
                width: 3px;
                height: 3px;
            }
        }

        .brochure__form-tag {
            margin-bottom: 0;

            @include media(768) {
                column-gap: 20px;
            }
        }

        &-scroll {
            width: max-content;
            // animation: auto-scroll 30s linear infinite;
            height: 85vh;
            line-height: 0;
            overflow-y: hidden;
            white-space: nowrap;

            &::-webkit-scrollbar {
                display: none;
            }

            img {
                height: 100%;
                line-height: 0;
            }
        }


        .brochure__form-content {
            // filter: drop-shadow(0px 4px 40px rgba(55, 72, 90, 0.35));
            margin: 0 auto;
            border-radius: 0;
            margin-bottom: 48px;
            position: relative;
            background: #FFFFFF;
            width: 100%;
            max-width: 100%;
            padding: 30px 100px;
            margin: 0;

            &::before {
                content: "";
                background: #FFFFFF;
                filter: blur(5.5px);
                width: 100%;
                position: absolute;
                right: 0;
                left: 0;
                top: -25px;
                height: 40px;
                z-index: -1;
            }
        }


        .brochure__form-item {
            // padding-top: 16px;
        }

        .brochure__form-item-input {
            font-weight: 700;
            color: #37485A;
            font-family: 'Montserrat';
            border-color: rgba(45, 45, 45, 0.4);
            border-radius: 0 !important;

            &:focus-visible {
                border-color: rgba(45, 45, 45, 1);
                outline: 0;
            }

            &::placeholder {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                color: #2D2D2D;
                opacity: 0.2;
            }
        }


        @keyframes auto-scroll {
            from {
                transform: translateX(100vw);
            }

            to {
                transform: translateX(-99%);
            }
        }

        @media(max-width: 1200px) {
            display: block;
        }

        @media(max-width: 768px) {
            .brochure__form-content {
                isolation: isolate;
                width: 100%;
                max-width: 100%;
                margin-top: -20px !important;
                padding: 0 60px 30px 60px;
                margin: 0;
            }

        }


        @media(max-width: 576px) {
            &-title {
                margin-bottom: 10px;
            }

            .brochure__form-item {
                padding-top: 0;
            }

            .brochure__form-tag-item {
                font-size: 12px;
            }


            .brochure__form-tag {

                &-item {
                    font-size: 12px;
                    line-height: 15px;

                    &::before {
                        margin-right: 5px;
                    }
                }
            }

            .brochure__form-btn {
                width: 100%;
                max-width: 100%;
            }

            &-scroll {
                height: 45vh;
            }

            .brochure__form-item-input {

                &,
                &::placeholder {
                    font-family: 'Montserrat';
                    font-style: normal;
                    // font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                }
                // font-weight: 700;
            }


            .btn_2 {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;

            }

        }

        @media(max-width: 400px) {

            .brochure__form-item {
                // padding: 0 12px;
            }

            .brochure__form-content {
                padding: 0 38px 30px 38px;
            }
        }
    }

    @media(max-width: 1200px) {
        display: none;
    }
}