.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  z-index: 50;
  position: relative;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    &-lines {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 24px;
      height: 19px;
    }

    &-line {
      height: 3px;
      background: #2b3845;
      &_1,
      &_3 {
        width: 100%;
      }
      &_2 {
        width: 15px;
      }
    }

    &-text {
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
      color: #2b3845;
      @media (max-width: 992px) {
        font-size: 18px;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      max-width: 100%;
    }
  }

  &__tel {
    font-weight: 400;
    font-size: 23px;
    line-height: 80%;
    text-transform: uppercase;
    color: #2b3845;
    text-decoration: none;
    text-align: right;
    @media (max-width: 992px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      display: none;
    }
    &-mob {
      display: none;
      @media (max-width: 768px) {
        display: block;
        flex-basis: 50%;
        max-width: 50%;
        display: flex;
        justify-content: flex-end;
      }
    }
    span {
      font-weight: 600;
      font-size: 23px;
      line-height: 80%;
      text-transform: uppercase;
      color: #2b3845;
      margin-left: 4px;
      @media (max-width: 992px) {
        font-size: 18px;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    height: auto;
    z-index: -1;
    background: #fff;
    transform: translateY(-100%);
    &-list {
      display: flex;
      list-style: none;
      padding: 30px 0;
      align-items: center;
      @media (max-width: 992px) {
        flex-direction: column;
      }
    }
    &-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 200%;
      letter-spacing: 0.02em;
      color: #2b3845;
      text-decoration: none;
      padding: 10px 15px;
      transition: 0.3s;

      &:hover {
        background-color: #2b3845;
        color: #dcc39e;
      }
    }
  }
  &__scroll{
      position: fixed;
      bottom: 100px;
      right: 100px;
      z-index: 60;
      display: none;
      @include media(992){
        right: 50px;
        bottom: 50px;
      }
      @include media(768){
        display: none;
      }
  }
}

