.intro{
    position: relative;
    min-height: calc(100vh - 60px);
    isolation: isolate;
    display: flex;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        top: 180px;
        left: 0;
        width: 100%;
        min-height: 980px;
        height: 100%;
        z-index: -1;
        background: linear-gradient(180deg, rgba(43, 56, 69, 0) 0%, #2B3845 61.35%);
        @media (max-width: 992px) {
            bottom: auto; 
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(43, 56, 69, 0) -5.79%, #2B3845 95.64%);
        }
        @include media(576){
            height: 309px;
            min-height: 309px;
            width: 100%;
            background: linear-gradient(180deg, rgba(43, 56, 69, 0) 13.61%, #2B3845 57.28%);
            bottom: -120px;
            left: 0;
            top: auto;
        }
    }
    &__body{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include media(575){
            justify-content: flex-start;
            padding-top: 85px;
        }
    }
    &__background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        isolation: isolate;
        z-index: -2;
        will-change: transform;
        @include media(576){
            display: none;
        }
        &_sm{
            display: none;
            @include media(576){
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                isolation: isolate;
                z-index: -2;
                overflow: hidden;
                img{
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        img{
            position: absolute;
            right: 0;
            top: 0;
            width: calc(100% + 200px);
            height: 100%;
            object-fit: cover; 
            object-position: 200px -110px;
            @include media(768){
                object-position: 100px;
            }
            @include media(576){
                object-position: -125px;
            }
        }
    }
    &__title{
        font-weight: 600;
        font-size: 80px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 15px;
        color: #FFF;
        max-width: 992px;
        width: 100%;
        @media (max-width: 1200px) {
            font-size: 74px;
        }
        @media (max-width: 992px) {
            font-size: 64px;
        }
        @media (max-width: 768px) {
            font-size: 44px;
        }
        @media (max-width: 576px) {
            font-size: 32px;
            margin-bottom: 10px;
        }
    }
    &__p{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        max-width: 630px;
        width: 100%;
        margin-bottom: 54px;
        @media (max-width: 1200px) {
            font-size: 19px;
        }
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 576px) {
            letter-spacing: -1px;
            margin-bottom: 25px;
        }
    }
    &__scroll{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        &:active{
            text-decoration: none;
        }
        &:hover{
            span{
                color: #DCC39E;
            }
        }
        span{
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            transition: 300ms ease;
            margin-bottom: 10px;
        }
        svg{
            animation: scroll 2s infinite;
        }
    }
}
@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}