.floor-plan{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 200;
    justify-content: center;
    align-items: center;
    .blur{
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        left: 0;
    }
    
}

.floor-plan{
    padding: 0;
    &__modal{
        max-width: 1240px;
        width: 100%;
        background-color: #E8E8E8;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media (max-width: 992px) {
            width: calc(100% - 30px);
            max-width: 630px;
            height: max-content;
            flex-direction: column;
            background-color: #2F3A49;
            overflow-y: auto;
        }
        @include media(576){
            overflow: visible;
        }
        &-back{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            background-color: white;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media(576){
                right: -14px;
                top: -14px;
            }
        }
        &-left{
            padding: 80px 40px;
            width: calc(100% - 530px);
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 100px;
            @media (max-width: 992px) {
                display: none;
            }
            &-img{
                width: 100%;
                max-width: 400px;
            }
            .floor-plan__from{
                padding: 6px 20px;
                border-radius: 10px;
                background-color: white;
                color: #5E7390;
                font-size: 14px;
                border-radius: 20px;
                box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
            }
        }
        &-right{
            padding: 60px;
            width: 530px;
            height: 100%;
            background-color: #2F3A49;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media (max-width: 992px) {
                width: 100%;
                padding: 50px 15px 15px;
                height: auto;
                gap: 20px;
            }
            @include media(576){
                padding: 37px 15px 32px 15px;
            }
            .menu__input-text{
                width: 100%;
                padding: 12px;
                border: 0.5px solid #ffffff50;
                background-color: transparent;
                outline: none;
                color: white;
                font-weight: 800;
                border-radius: 0;
                &:focus{
                    border-color: #DCC39E;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-color: #DCC39E;
                        filter: blur(5px);
                    }
                }
                &::placeholder{
                    color: #ffffff50;
                    font-weight: 400;
                }
                @include media(576){
                    height: 42px;
                }
            }
            .menu__submit {
                width: calc(100% - 124px);
                height: 45px;
                background: #DCC39E;
                border: 0;
                color: white;
                cursor: pointer;
                font-size: 18px;
                color: #2B3845;
                text-transform: uppercase;
                font-weight: 500;
                @include media(992){
                    width: 100%;
                    max-width: none;
                }
            }
            .menu__about-project-btn{
                width: 42px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                @include media(992){
                    display: none;
                }
                & i{
                    font-size: 25px;
                }
            }
            .menu__submit::placeholder {
                font-size: 16px;
                color: rgb(0, 0, 0, 0.35);
            }
            .menu__lower-btn-con{
                width: 100%;
                height: 42px;
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                @include media(992){
                    margin-top: 0;
                }
            }            
            .menu__input-text::placeholder{
                font-size: 14px;
                color: white;
            }
            
            .menu__input-text:focus{
                box-shadow: 0px 0px 4px;
            }
            .menu__input-text {
                margin-bottom: 20px;
                margin-top: 10px;
                @include media(992){
                    margin-bottom: 15px;
                    margin-top: 0;
                }
            }
            .floor-mobile{
                display: none;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                @media (max-width: 992px) {
                    display: flex;
                }
                .floor-plan__from{
                    width: max-content;
                    margin: auto;
                    border-radius: 10px;
                    color: #5E7390;
                    font-size: 14px;
                    border-radius: 20px;
                    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
                    @include media(576){
                        box-shadow: none;
                    }
                }
            }
            .iti__flag-container {
                top: 10px;
            }
            .menu__submit{
                max-width: calc(100% - 186px);
            }
            .menu__lower-btn-con{
                margin-top: 20px;
            }
            .menu__about-project-btn:hover{
                background-color: #5E7390;
            }
            &-title{
                font-size: 64px;
                font-weight: 400;
                line-height: 75px;
                color: white;
                text-transform: uppercase;
                @media (max-width: 992px) {
                    font-size: 44px;
                }
                @media (max-width: 440px) {
                    font-size: 32px;
                }
            }
            label{
                width: 100%;
                color: white;
                font-size: 16px;
                font-weight: 400;
                padding: 10px 0 0;
                @include media(992){
                    display: none;
                }
            }
        }
        &-logo{
            width: 200px;
            margin-bottom: 30px;
            @include media(992){
                display: none;
            }
        }
    }
}

.floor-plan__modal-right-title{
    width: 100%;
    font-size: 64px;
    font-weight: 600;
    line-height: 100%;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    @media (max-width: 992px) {
        font-size: 32px;
        margin-bottom: 0px;
    }
    @include media(576){
        margin-bottom: -19px;
    }
    span{
        color: #DCC39E;
    }
}