mixin amenities()
    section.amenities#amenities 
        .amenities__body 
            .amenities__wrapper 
                .amenities__item 
                    p.amenities__item-title 01. Panoramic views 
                    .amenities__item-img 
                        img(src="@img/amenities-1.png", alt="" draggable="false") 
                .amenities__item 
                    p.amenities__item-title 02. Floating pool 
                    .amenities__item-img 
                        img(src="@img/amenities-2.png", alt="" draggable="false") 
                .amenities__item 
                    p.amenities__item-title 03. Maritime centre 
                    .amenities__item-img  
                        img(src="@img/amenities-3.png", alt="" draggable="false") 
                .amenities__item 
                    p.amenities__item-title 04. Exclusive design 
                    .amenities__item-img 
                        img(src="@img/amenities-4.png", alt="" draggable="false") 
        .amenities-mobile.container
            .amenities-mobile__box
                .amenities-mobile__box-img
                    img(src="@img/amenities-2.png", alt="" draggable="false")
                .amenities-mobile__box-title
                    h3 01
                    h3 FLOATING POOL
                .amenities-mobile__box-paragraph
                    p The stunning pool is accessed via a walkway that extends over the water, presenting breathtaking views of the harbor and skyline.
                .amenities-mobile__box-hr
            .amenities-mobile__box
                .amenities-mobile__box-img
                    img(src="@img/amenities-1.png", alt="" draggable="false")
                .amenities-mobile__box-title
                    h3 02
                    h3 PANORAMIC VIEWS
                .amenities-mobile__box-paragraph
                    p Floor-to-ceiling windows open scenic views of the gorgeous waterfront and the city.
                .amenities-mobile__box-hr
            .amenities-mobile__box
                .amenities-mobile__box-img
                    img(src="@img/amenities-4.png", alt="" draggable="false")
                .amenities-mobile__box-title
                    h3 03
                    h3 EXCLUSIVE DESIGN
                .amenities-mobile__box-paragraph
                    p From the opulent lobby to the exterior accents, De Grisogono's attention to details is evident throughout the luxurious Harbour Lights.
                .amenities-mobile__box-hr