mixin brochure()
    section.brochure#brochure 
        .brochure__body.container
            .brochure__wrapper 
                .brochure__item.brochure__content   
                    h2.brochure__title Brochure  
                    p.brochure__p Immerse yourself in the world of luxury with the DAMAC Bay brochure, a beautifully designed publication that showcases the unparalleled living experience offered by the tower.
                .brochure__item.brochure__img 
                    img(src="@img/brochure.png", alt="" draggable="false")
                    .brochure__form 
                        h3.brochure__form-title Detailed brochure
                        p.brochure__form-p with detailed information that includes:
                        .brochure__form-tag 
                            .brochure__form-tag-item Lifestyle
                            .brochure__form-tag-item Gallery
                            
                            .brochure__form-tag-item Floor plans
                            .brochure__form-tag-item Masterplan
                        form(action="https://form.sales-inquiries.ae/logger/form_receiver/" data-gtag-submit="modal" method="post").brochure__form-content 
                            .brochure__form-item 
                                input(type="text" name='name' placeholder="Your name" required).brochure__form-item-input  
                            .brochure__form-item 
                                input(type='email' name='email' placeholder="Your e-mail" required).brochure__form-item-input  
                            .brochure__form-item 
                                input(type='tel' name='phone' placeholder="Phone number" required).brochure__form-item-input  
                            input(type="hidden" name="project" value="damac_bay")
                            input(type="hidden" name="description" value="page_form")
                            input(type="hidden" name="duration" value="").duration
                            input(type="hidden" name="pasted_fields" value="").pasted_fields
                            input(type="hidden" name="language" value="english")
                            input(type="hidden" name="current_page" value="")
                            button(type="submit").brochure__form-btn.btn_2 DOWNLOAD 
                                //- <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //-     <path d="M6 15L6 -2.62268e-07M6 15C6 11.7208 8.68629 9.0625 12 9.0625M6 15C6 11.7208 3.31371 9.0625 3.19121e-07 9.0625" stroke="#FBFAF4" stroke-width="2"/>
                                //- </svg>
    section.brochure__sm#adap-brochure
        .container
            .brochure__sm-inner
                .brochure__sm-title Detailed  BROCHURE
                .brochure__form-tag 
                    .brochure__form-tag-item Lifestyle
                    .brochure__form-tag-item Gallery
                    .brochure__form-tag-item Floor plans
                    .brochure__form-tag-item Masterplan

        .brochure__sm-scroll
            img(src="@img/brochure-sm-min.png", alt="" draggable="false")

        form(action="https://form.sales-inquiries.ae/logger/form_receiver/" data-gtag-submit="modal" method="post").brochure__form-content 
            .brochure__form-item 
                input(type="text" name='name' placeholder="Your name" required).brochure__form-item-input  
            .brochure__form-item 
                input(type='email' name='email' placeholder="Your e-mail" required).brochure__form-item-input  
            .brochure__form-item 
                input(type='tel' name='phone' placeholder="Phone number" required).brochure__form-item-input
            input(type="hidden" name="project" value="damac_bay")
            input(type="hidden" name="description" value="page_form")
            input(type="hidden" name="duration" value="").duration
            input(type="hidden" name="pasted_fields" value="").pasted_fields
            input(type="hidden" name="language" value="english")
            input(type="hidden" name="current_page" value="")
            button(type="submit").brochure__form-btn.btn_2 Download 
                <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 15L6 -2.62268e-07M6 15C6 11.7208 8.68629 9.0625 12 9.0625M6 15C6 11.7208 3.31371 9.0625 3.19121e-07 9.0625" stroke="#fff" stroke-width="2"/>
                </svg>



