mixin developer()
    section.developer#developer 
        .developer__logo-mobile 
            img(src="@img/developer-logo-mobile.png", alt="" draggable="false")
        .developer__body.container 
            p.developer__subtitle developer
            h2.developer__title RELIABLE <br>DEVELOPER
            .developer__row 
                p.developer__p DAMAC Properties is part of DAMAC Group that has been shaping the Middle East's luxury real estate market since 2002, delivering iconic residential, commercial and leisure properties across the region and beyond.
                .developer__logo    
                    img(src="@img/developer-logo.svg", alt="" draggable="false")
            .developer__bottom 
                .developer__item 
                    p.developer__desc Most socially responsible real estate company UAE 2019
                    .developer__img 
                        img(src="@img/developer-img-1.png", alt="" draggable="false")
                .developer__item 
                    p.developer__desc Most Socially Responsible Real Estate Company UAE 2020
                    .developer__img 
                        img(src="@img/developer-img-2.png", alt="" draggable="false")