mixin footer()
    footer.footer 
        .footer__nav.container 
            a(href="#").footer__logo
                img(src="@img/logo-white.svg", alt="" draggable="false") 
            ul.footer__list 
                li.footer__li 
                    a(href="#about").footer__link.hover About 
                li.footer__li
                    a(href="#interior").footer__link.hover Gallery 
                li.footer__li
                    a(href="#location").footer__link.hover Location 
                li.footer__li 
                    a(href="#offer").footer__link.hover Payment plan 
                li.footer__li 
                    a(href="#developer").footer__link.hover Developer 
            ul.footer__list  
                li.footer__li
                    a(href="https://t.me/Sales_office_en_bot" data-gtag-click="telegram" target="_blank").footer__link.hover 
                        <svg width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.33965 11.7948C2.33965 11.7948 15.7517 6.14585 20.4032 4.15672C22.1864 3.36114 28.2334 0.815048 28.2334 0.815048C28.2334 0.815048 31.0244 -0.29877 30.7918 2.40633C30.7142 3.52026 30.094 7.41878 29.4738 11.6357C28.5435 17.6029 27.5356 24.127 27.5356 24.127C27.5356 24.127 27.3806 25.9571 26.0627 26.2753C24.7447 26.5935 22.5739 25.1615 22.1864 24.8431C21.8762 24.6045 16.3719 21.0241 14.3562 19.2737C13.8135 18.7964 13.1933 17.8417 14.4337 16.7277C17.2247 14.1021 20.5583 10.8401 22.5739 8.77144C23.5043 7.81663 24.4346 5.58888 20.5583 8.29398C15.0539 12.1926 9.62711 15.8525 9.62711 15.8525C9.62711 15.8525 8.38666 16.6481 6.0609 15.932C3.73504 15.2161 1.02162 14.2612 1.02162 14.2612C1.02162 14.2612 -0.838903 13.0678 2.33965 11.7948Z" fill="white"/>
                        </svg> 
                li.footer__li 
                    a(href="#" data-gtag-click="whatsapp" target="_blank").event_wp.footer__link.hover 
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.40625 33.2233L2.7712 24.4298C0.863927 21.0043 0.257967 17.0071 1.06452 13.1715C1.87106 9.33599 4.03602 5.91948 7.16211 3.54891C10.2882 1.17835 14.1657 0.0127407 18.0832 0.265988C22.0006 0.519236 25.6952 2.17435 28.4889 4.92761C31.2827 7.68087 32.9882 11.3476 33.2925 15.2549C33.5969 19.1623 32.4796 23.0482 30.1458 26.1995C27.8119 29.3508 24.418 31.5562 20.5869 32.411C16.7558 33.2657 12.7444 32.7126 9.28878 30.8529L0.40625 33.2233ZM9.71708 27.5624L10.2664 27.8877C12.7694 29.3688 15.6928 29.9817 18.581 29.6309C21.4693 29.2801 24.1602 27.9853 26.2345 25.9483C28.3087 23.9112 29.6497 21.2464 30.0485 18.3691C30.4473 15.4917 29.8815 12.5635 28.4393 10.0407C26.9971 7.5179 24.7595 5.54225 22.0751 4.42161C19.3908 3.30098 16.4106 3.09832 13.5988 3.84522C10.787 4.59212 8.30175 6.24661 6.53021 8.55088C4.75866 10.8551 3.80038 13.6797 3.8047 16.5845C3.80235 18.993 4.46955 21.3549 5.73204 23.4073L6.07654 23.9743L4.75441 28.8823L9.71708 27.5624Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0472 18.8427C22.7251 18.5834 22.3481 18.4009 21.9447 18.3091C21.5413 18.2173 21.1223 18.2186 20.7195 18.3129C20.1143 18.5639 19.7232 19.512 19.3321 19.9861C19.2497 20.0997 19.1285 20.1794 18.9914 20.2102C18.8542 20.241 18.7106 20.2208 18.5873 20.1534C16.3716 19.287 14.5144 17.6982 13.3174 15.6451C13.2153 15.517 13.1669 15.3543 13.1826 15.1913C13.1982 15.0284 13.2766 14.8778 13.4011 14.7713C13.8373 14.3403 14.1575 13.8064 14.3322 13.219C14.371 12.5711 14.2223 11.9258 13.9039 11.3599C13.6578 10.5666 13.1893 9.86023 12.5539 9.32424C12.2261 9.17708 11.8627 9.12774 11.5075 9.18216C11.1523 9.23659 10.8205 9.39247 10.552 9.63099C10.086 10.0324 9.71609 10.5331 9.46955 11.0961C9.22301 11.6592 9.10612 12.2702 9.12748 12.8844C9.12892 13.2292 9.1727 13.5726 9.25783 13.9069C9.47404 14.7099 9.80652 15.4771 10.2448 16.1842C10.561 16.7259 10.906 17.2503 11.2783 17.7552C12.4883 19.4134 14.0092 20.8214 15.7568 21.9009C16.6337 22.4495 17.571 22.8955 18.55 23.2302C19.5671 23.6904 20.69 23.8671 21.7995 23.7414C22.4317 23.6459 23.0307 23.3967 23.5437 23.0158C24.0568 22.6349 24.4682 22.1339 24.7417 21.557C24.9025 21.2085 24.9513 20.8188 24.8814 20.4415C24.7138 19.67 23.6803 19.2145 23.0472 18.8427Z" fill="white"/>
                        </svg>
                li.footer__li 
                    a(href="#" data-gtag-click="phone_call").event_call.footer__link.hover 
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.1281 18.0925L19.0893 15.5174C18.7777 15.3777 18.4357 15.3198 18.0955 15.3491C17.7553 15.3784 17.4282 15.4939 17.1451 15.6847L13.9133 17.835C11.9436 16.8784 10.3488 15.2927 9.38097 13.3285L11.5184 10.058C11.7079 9.7746 11.8237 9.44831 11.8552 9.10878C11.8867 8.76925 11.8329 8.42723 11.6986 8.11378L9.11058 2.07503C8.92999 1.66728 8.6242 1.32764 8.23757 1.10539C7.85094 0.883133 7.40357 0.789812 6.96032 0.838957C5.22157 1.06674 3.62469 1.91817 2.46657 3.23496C1.30846 4.55175 0.667928 6.24429 0.664062 7.9979C0.664063 18.2213 8.98182 26.539 19.2052 26.539C20.9588 26.5352 22.6514 25.8946 23.9681 24.7365C25.2849 23.5784 26.1364 21.9815 26.3641 20.2428C26.4133 19.7995 26.32 19.3522 26.0977 18.9655C25.8755 18.5789 25.5358 18.2731 25.1281 18.0925Z" fill="white"/>
                        </svg> 
            //- p.footer__p © 2022 ALL RIGHTS RESERVED 