mixin interior() 
    section.interior#interior 
        .interior__body.container 
            .interior__wrapper 
                .interior__item.interior__content 
                    h2.interior__title INTERIOR 
                    p.interior__p DAMAC Bay is a haven of luxury and sophistication. Its spacious apartments offer style and comfort, while the panoramic views provide a breathtaking scenery of daily life.
                .interior__item.interior__gallery 
                    .interior__left 
                        .interior__left-img 
                            img(src="@img/interior-1.png", alt="" draggable="false")
                            .interior__left-img_2 
                                img(src="@img/interior-2.png", alt="" draggable="false")
                    .interior__left.not 
                        .interior__left-img.not 
                            img(src="@img/interior-3.png", alt="" draggable="false")
                        .interior__left-col 
                            .interior__left-img_2.not  
                                img(src="@img/interior-4.png", alt="" draggable="false")

    section.interior-mobile
        .interior-mobile__body.container
            h2.interior-mobile__title INTERIOR 
            .swiper.interior-swiper
                .swiper-wrapper
                    .swiper-slide 
                        img(src="@img/interior-1.png", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/interior-2.png", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/interior-3.png", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/interior-4.png", alt="" draggable="false")
                .swiper-pagination
            p.interior-mobile__paragraph DAMAC Bay is a haven of luxury and sophistication. Its spacious apartments offer style and comfort, while the panoramic views provide a breathtaking backdrop to daily life.