mixin intro()
    section.intro#intro 
        .intro__background 
            img(src="@img/intro-bg.png", alt="" draggable="false")
        .intro__body.container
            h1.intro__title PREMIUM RESIDENTIAL COMPLEX
            p.intro__p DAMAC Bay is a luxurious waterfront residence located in the heart of Dubai Harbour.
            button(type="button" data-popup="#brochure-popup").intro__btn.btn Explore more