mixin location()
    section.location#location 
        .location__acc.accordion 
            .accordion__button.hover Infrastructure 
                <svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.2691 2.37557L12.0924 10.4132C11.9831 10.5086 11.8648 10.576 11.7373 10.6154C11.6099 10.6555 11.4733 10.6755 11.3277 10.6755C11.182 10.6755 11.0454 10.6555 10.918 10.6154C10.7905 10.576 10.6722 10.5086 10.5629 10.4132L1.35893 2.37557C1.10402 2.15297 0.976563 1.87471 0.976563 1.54081C0.976563 1.2069 1.11312 0.920694 1.38624 0.68219C1.65935 0.443685 1.97799 0.324432 2.34214 0.324432C2.7063 0.324432 3.02493 0.443685 3.29805 0.68219L11.3277 7.69423L19.3573 0.68219C19.6122 0.459585 19.9261 0.348283 20.299 0.348283C20.6726 0.348283 20.996 0.467535 21.2691 0.706039C21.5422 0.944545 21.6788 1.2228 21.6788 1.54081C21.6788 1.85881 21.5422 2.13707 21.2691 2.37557Z" fill="#F8F8F8"/>
                </svg> 
            .accordion__content 
                button(type="button" data-target="#map1").accordion__item.location__btn.hover.active.nosvg 
                    .accordion__item-svg 
                        .circ  
                    span All  
                button(type="button" data-target="#map2").accordion__item.location__btn.hover 
                    .accordion__item-svg  
                        <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.41006 0C6.92486 0 5.77913 0.749563 5.04502 1.74466C4.6385 2.29623 4.34748 2.9218 4.16976 3.55504C4.10345 3.79132 4.28853 4.01551 4.53394 4.01551C4.71621 4.01551 4.87273 3.88888 4.92367 3.71387C5.07997 3.17693 5.32862 2.64305 5.66456 2.1872C6.28834 1.34185 7.17946 0.752909 8.41006 0.752909C9.64066 0.752909 10.5318 1.34185 11.1556 2.1872C11.4915 2.64305 11.7402 3.17693 11.8965 3.71387C11.9474 3.88888 12.1039 4.01551 12.2862 4.01551C12.5316 4.01551 12.7167 3.79132 12.6504 3.55504C12.4726 2.9218 12.1816 2.29623 11.7751 1.74466C11.041 0.749563 9.89526 0 8.41006 0ZM2.47645 4.76842C1.80593 4.76842 1.24651 5.28067 1.18757 5.94859L0.124195 18.0007C0.0574447 18.7573 0.653598 19.4083 1.41308 19.4083H15.4076C16.1671 19.4083 16.7632 18.7573 16.6965 18.0009L15.6345 5.94874C15.5757 5.28075 15.0162 4.76842 14.3457 4.76842H2.47645ZMnan nanL4.33636 5.73047C4.51643 5.73047 4.68913 5.80098 4.81645 5.92649C4.94378 6.052 5.01531 6.22223 5.01531 6.39973C5.01531 6.57722 4.94378 6.74745 4.81645 6.87296C4.68913 6.99847 4.51643 7.06898 4.33636 7.06898C4.1563 7.06898 3.9836 6.99847 3.85627 6.87296C3.72895 6.74745 3.65742 6.57722 3.65742 6.39973C3.65742 6.22223 3.72895 6.052 3.85627 5.92649C3.9836 5.80098 4.1563 5.73047 4.33636 5.73047Lnan nanZM12.4838 5.73047C12.6638 5.73047 12.8365 5.80098 12.9638 5.92649C13.0912 6.052 13.1627 6.22223 13.1627 6.39973C13.1627 6.57722 13.0912 6.74745 12.9638 6.87296C12.8365 6.99847 12.6638 7.06898 12.4838 7.06898C12.3037 7.06898 12.131 6.99847 12.0037 6.87296C11.8763 6.74745 11.8048 6.57722 11.8048 6.39973C11.8048 6.22223 11.8763 6.052 12.0037 5.92649C12.131 5.80098 12.3037 5.73047 12.4838 5.73047Z"/>
                        </svg>
                    span Shopping 
                button(type="button" data-target="#map3").accordion__item.location__btn.hover
                    .accordion__item-svg
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.22 13.7138L18.8665 14.0674L19.22 14.4209L20.3467 15.5476L18.4851 17.4092L18.1315 17.7627L18.4851 18.1163L19.6117 19.2429L18.8386 20.016L17.712 18.8894L17.3584 18.5358L17.0049 18.8894L15.1433 20.751L14.0166 19.6243L13.6631 19.2708L13.3095 19.6243L12.1829 20.751L11.4098 19.9779L14.7516 16.6361L15.1051 16.2825L14.7516 15.929L5.88067 7.05807L5.52711 6.70451L5.17356 7.05807L1.83177 10.3999L1.05867 9.62676L2.18532 8.5001L2.53888 8.14655L2.18532 7.793L1.05867 6.66634L2.92025 4.80476L3.27381 4.4512L2.92025 4.09765L1.7936 2.971L2.5667 2.19789L3.69335 3.32455L4.04691 3.6781L4.40046 3.32455L6.26204 1.46297L7.3887 2.58962L7.74225 2.94317L8.09581 2.58962L9.22246 1.46297L9.99556 2.23607L6.65377 5.57786L6.30022 5.93141L6.65377 6.28497L11.0892 10.7204L15.5247 15.1559L15.8782 15.5094L16.2318 15.1559L19.5736 11.8141L20.3467 12.5872L19.22 13.7138Z"/>
                        </svg>
                    span Sport 
                button(type="button" data-target="#map4").accordion__item.location__btn.hover
                    .accordion__item-svg
                        <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6134 12.3735V11.8735H16.1134H15.1071C14.2589 11.8735 13.5944 11.207 13.5944 10.4327V4.61018C13.5944 4.0627 13.9087 3.37582 14.5285 2.74249C15.139 2.11866 16.0013 1.59577 16.9916 1.36107C17.335 1.28312 17.6262 1.53941 17.6262 1.82509V19.1664C17.6262 19.407 17.4144 19.6368 17.1198 19.6368C16.8251 19.6368 16.6134 19.407 16.6134 19.1664V12.3735ZM8.06258 8.02143H8.56258V7.52143V1.69893C8.56258 1.45833 8.77429 1.22852 9.06893 1.22852C9.36358 1.22852 9.57529 1.45833 9.57529 1.69893V7.52143C9.57529 9.37292 8.01507 10.9031 6.04986 10.9031H5.54986V11.4031V19.1664C5.54986 19.407 5.33815 19.6368 5.04351 19.6368C4.74886 19.6368 4.53715 19.407 4.53715 19.1664V11.4031V10.9031H4.03715C2.07195 10.9031 0.511719 9.37292 0.511719 7.52143V1.69893C0.511719 1.45833 0.723427 1.22852 1.01808 1.22852C1.31273 1.22852 1.52443 1.45833 1.52443 1.69893V7.52143V8.02143H2.02443H4.03715H4.53715V7.52143V1.69893C4.53715 1.45833 4.74886 1.22852 5.04351 1.22852C5.33815 1.22852 5.54986 1.45833 5.54986 1.69893V7.52143V8.02143H6.04986H8.06258Z"/>
                        </svg>
                    span Restaurants  
        .location__img.active#map1 
            img(src="@img/map.svg", alt="" draggable="false")
            .sm 
                img(src="@img/map-sm.svg", alt="" draggable="false")
        .location__img#map2
            img(src="@img/map-1.svg", alt="" draggable="false")
            .sm 
                img(src="@img/map-1-sm.svg", alt="" draggable="false")
        .location__img#map3 
            img(src="@img/map-2.svg", alt="" draggable="false")
            .sm 
                img(src="@img/map-2-sm.svg", alt="" draggable="false")
        .location__img#map4
            img(src="@img/map-3.svg", alt="" draggable="false")
            .sm 
                img(src="@img/map-3-sm.svg", alt="" draggable="false")