mixin offer()
    section.offer#offer 
        .offer__body.container 
            p.offer__subtitle Payment Plan
            .offer__row 
                .offer__wrapper 
                    p.offer__desc On booking
                    p.offer__percent <span data-number="20" class="count">0</span>%
                .offer__wrapper 
                    p.offer__desc During construction
                    p.offer__percent <span data-number="80" class="count">0</span>%
                    button(type="button" data-popup="#handover-popup").offer__btn.hover
                        <span>learn more</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.62273 5.37727H14V8.62273H8.62273V14H5.37727V8.62273H0V5.37727H5.37727V0H8.62273V5.37727Z" fill="#101D2A"/>
                        </svg> 