include components/header 
include components/intro 
include components/about 
include components/amenities 
include components/floor 
include components/interior 
include components/location 
include components/offer 
include components/developer 
include components/brochure 
include components/footer 
include components/popup 

doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1") 
        link(rel="stylesheet", href="css/style.min.css") 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css") 
        title Damac 
    body 
        #preloader 
            #preloader__logo 
                img(src="@img/preloader-logo.svg" alt="Damac" draggable="false" id="preloader__logo-img")
                #preloader__loaded-logo
                    img(src="@img/preloader-logo-loaded.svg" alt="Damac" draggable="false")
            #preloader__num 0%
        .fixed 
        .wrapper 
            +header 
            +intro 
            +about 
            //- +amenities 
            //- +floor 
            +interior 
            +location 
            +offer 
            +developer 
            +brochure 
            +footer  
        +popup
        script(src="js/app.min.js")   