include components/header 
include components/intro 
include components/about 
include components/amenities 
include components/floor 
include components/interior 
include components/location 
include components/offer 
include components/developer 
include components/brochure 
include components/footer 
include components/popup 

doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1") 
        link(rel="stylesheet", href="css/style.min.css") 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css") 
        title Damac 
        <meta name="call-dn" content="+971564156565">
        <meta name="wp-dn" content="971523561901">
        <meta name="project" content="damac_bay" />
        <meta name="thankyou-title" content="Thank you for your interest!">
        <meta name="thankyou-title-repeat" content="Do you want to resend the form?">
        <meta name="thankyou-subtitle" content="We&#039;ll get back to you soon">
        <meta name="thankyou-btn-send" content="Send">
        <meta name="thankyou-btn-cancel" content="Cancel">
        <meta name="thankyou-repeat-ty" content="Thank you!">
        <meta name="thankyou-repeat-cc" content="Cancelled">
    body 
        #preloader 
            #preloader__logo 
                img(src="@img/preloader-logo.svg" alt="Damac" draggable="false" id="preloader__logo-img")
                #preloader__loaded-logo
                    img(src="@img/preloader-logo-loaded.svg" alt="Damac" draggable="false")
            #preloader__num 0%
        .fixed 
        .wrapper 
            +header 
            +intro 
            +about 
            //- +amenities 
            //- +floor 
            +interior 
            +location 
            +offer 
            +developer 
            +brochure 
            +footer  
        +popup
        script(src="js/app.min.js")   